<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title> <%= title %> </title>
</head>
<body>

    <%- include('../partials/nav.ejs'); %>
    <div class="container">
        <h1>Welcome to Homepage</h1>
        <p>This is a simple Express.js application with EJS templating.</p>
        <p>Use the navigation links below to explore the site.</p>
        <a href="/download">CV download</a>
    </div>
    
</body>
</html>